<app-error-message [errorMessage]="errorMessage"></app-error-message>
<a class="backButton" routerLink="..">Back</a>
<div class="pokemon">
  <div class="pokemons_sprite">
    <img
      data-testid="sprite"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
        id
      }}.png"
      alt="actual sprite"
    />
  </div>
  <div class="pokemon_moves_list">
    <ul>
      <li *ngFor="let move of moves">
        <h3>{{move.name}}</h3>
        <p>Accuracy: {{move.accuracy}}</p>
        <p>PP: {{move.pp}}</p>
        <p>Power: {{move.power}}</p>
        <p>Damage Class: {{move.damage_class}}</p>
        <p>Type: {{move.type}}</p>
        <p>Effect: {{move.effect_entries}}</p>
      </li>
    </ul>
  </div>
</div>
