<app-error-message [errorMessage]="errorMessage"></app-error-message>
<a class="backButton" routerLink="..">Back</a>
<div class="pokemon">
  <div class="pokemon_sprite">
    <img
      data-testid="sprite"
      src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{
        id
      }}.png"
      alt="actual sprite"
    />
  </div>
  <div class="pokemon_moves_list">
    <ul>
      <li *ngFor="let move of moves" class="{{ move.type }}">
        <h3 class="moveName">{{ move.name }}</h3>
        <p class="accuracy">Accuracy: {{ move.accuracy }}%</p>
        <p class="pp">PP: {{ move.pp }}</p>
        <p class="power">Power: {{ move.power }}</p>
        <p class="class">Class: {{ move.damage_class }}</p>
        <p class="type">Type: {{ move.type }}</p>
        <p class="effect">Effect: {{ move.effect_entries }}</p>
      </li>
    </ul>
  </div>
</div>
